@use 'styles/breakpoints' as *;

.Button {
  grid-column: span 1;
  height: 60px;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: 'Spartan', sans-serif;
  transition: all 100ms ease;
  cursor: pointer;

  &:active {
    transform: translateY(5px);
    box-shadow: none;
  }

  @include medium {
    font-size: 2rem;
    border-radius: 12px;
  }
}

.Double {
  grid-column: span 2;
}

.Primary {
  color: var(--primary-text);
  background: var(--primary-key-background);
  box-shadow: 0px 5px var(--primary-key-shadow);
}

.Secondary {
  color: var(--secondary-text);
  font-size: 1.2rem;
  background: var(--secondary-key-background);
  box-shadow: 0px 5px var(--secondary-key-shadow);
}

.Tertiary {
  color: var(--secondary-text);
  font-size: 1.2rem;
  background: var(--tertiary-key-background);
  box-shadow: 0px 5px var(--tertiary-key-shadow);
}
