@use 'styles/breakpoints' as *;

.Container {
  height: 100vh;
  width: 90%;
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include medium {
    width: 100%;
    max-width: 550px;
  }
}
