@use 'styles/breakpoints' as *;

.Display {
  background: var(--tertiary-background);
  color: var(--secondary-text);
  width: 100%;
  border-radius: 15px;
  padding: 2rem 1.25rem;
  text-align: right;
  margin-bottom: 1.5rem;

  @include medium {
    padding: 2rem;
  }

  .Result {
    font-size: 1.25rem;

    @include medium {
      font-size: 2.5rem;
    }
  }
}
